<div id="contents">
        <div id="mainimg" class="banner-slide">
            <section class="section banner-img1" style="background:rgba(0,0,0,0.7) url(assets/img/img_banner1.png) no-repeat scroll center center;background-size: cover;background-blend-mode: multiply; ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 pull-right futur-img wow fadeIn">
                            <p class="about-img"><img src="assets/img/img_future1.jpg" alt="YOUR FUTURE"></p>
                        </div> 
                        <div class="col-md-7 col-sm-12 pull-left  wow slideIn">
                            <h2 class="m-top-30">Captain America</h2>
                            <h3>YOUR FUTURE!</h3>
                            <p class="font-size-18 m-top-30">Lorem ipsume hoer the toppest part of modbegain of the logically. Lorem ipsume hoer the toppest part of modbegain of the logically</p>
                            <p class="m-top-80"><a href="#" class="common-btn">Find Hero</a></p>
                        </div>
                    </div>  
                </div>
            </section>
            
        </div><!-- /#mainimg -->
        <div id="innerContents">
            <!-- Start Courses-->
            <!-- <section class="section upcoming-courses">
                <div class="container">
                    <h2 class="title m-bottom-40 wow slideInUp">IAA Upcoming Courses</h2>
                    <div class="row">
                        <div class="col-md-3 col-sm-4 all-courses wow slideInLeft">
                            <h3 class="subTitle">Courses</h3>
                            <ul>
                                <li><input type="radio" name="courses">All Courses</li>
                                <li>
                                    <input type="radio" name="courses">Calendar Courses
                                    <div class="calender">
                                        <span class="arrow-cal">
                                            <input type="text" class="date-cal" name="date" placeholder="18">
                                            <span>
                                                <i class="fas fa-caret-up"></i>
                                                <i class="fas fa-caret-down"></i>
                                            </span>    
                                        </span>
                                        <span class="arrow-cal">
                                            <input type="text" class="month-cal" name="month" placeholder="February">
                                            <span>
                                                <i class="fas fa-caret-up"></i>
                                                <i class="fas fa-caret-down"></i>
                                            </span>    
                                        </span>
                                    </div>
                                </li>
                                <li><input type="radio" name="courses">ICAO Approved Courses</li>
                                <li><input type="radio" name="courses">Airport Operations Courses</li>
                                <li><input type="radio" name="courses">HRD Courses</li>
                                <li><input type="radio" name="courses">Finance Courses</li>
                                <li><input type="radio" name="courses">Engineering Courses</li>
                                <li><input type="radio" name="courses">Aviation Safety & regulation Courses</li>
                            </ul>
                        </div>
                        <div class="col-md-9 col-sm-8  wow slideInRight">
                            <div class="row m-bottom-30">
                                <div class="col-md-4 col-sm-12 course-img">
                                    <p><img src="assets/img/img_aviation1.png" alt="aviation"></p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="course-details">
                                        <h3 class="subTitle color-black">Associate of Science in Aviation Studies</h3>
                                        <span class="location-details"><img src="assets/img/icon_calender1.png" alt="Calender"> 14-25 Feb</span>
                                        <p>This Pilot Training Program prepares men and women of all ages to enter the exciting field of commercial aviation. A comprehensive selection of ground classes...</p>
                                        <span class="location-details"><img src="assets/img/icon_location.png" alt="Pointer"> Airport, New Delhi</span>
                                        <a href="#" class="common-btn">Join Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-bottom-30">
                                <div class="col-md-4 col-sm-12 course-img">
                                    <p><img src="assets/img/img_aviation2.png" alt="aviation"></p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="course-details">
                                        <h3 class="subTitle color-black">Associate of Science in Aviation Studies</h3>
                                        <span class="location-details"><img src="assets/img/icon_calender1.png" alt="Calender"> 14-25 Feb</span>
                                        <p>This Pilot Training Program prepares men and women of all ages to enter the exciting field of commercial aviation. A comprehensive selection of ground classes...</p>
                                        <span class="location-details"><img src="assets/img/icon_location.png" alt="Pointer"> Airport, New Delhi</span>
                                        <a href="#" class="common-btn">Join Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-12 course-img">
                                    <p><img src="assets/img/img_aviation3.png" alt="aviation"></p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="course-details">
                                        <h3 class="subTitle color-black">Associate of Science in Aviation Studies</h3>
                                        <span class="location-details"><img src="assets/img/icon_calender1.png" alt="Calender"> 14-25 Feb</span>
                                        <p>This Pilot Training Program prepares men and women of all ages to enter the exciting field of commercial aviation. A comprehensive selection of ground classes...</p>
                                        <span class="location-details"><img src="assets/img/icon_location.png" alt="Pointer"> Airport, New Delhi</span>
                                        <a href="#" class="common-btn">Join Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="#" class="common-btn btn-arrwo">Next Page <img src="assets/img/icon_right.png" alt="arrow"></a>
                        </div>
                        <div class="col-md-8 pagination1">
                            <ul>
                                <li>page</li>
                                <li class="enter-value"><input type="text" placeholder="1"></li>
                                <li>of <span>15</span></li>
                                <li class="next-page">
                                    <a href="#"><i class="fas fa-angle-left"></i></a>
                                    <a href="#"><i class="fas fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- Start Courses-->
            <!-- Start About Aii-->
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 pull-right wow slideInRight">
                            <p class="about-img"><img src="assets/img/img_thor.jpg" alt="thor"></p>
                        </div>
                        <div class="col-md-6 col-sm-12 pull-left wow slideInLeft">
                            <span class="subTitle dis-block">ABOUT Thor</span>
                            <h2 class="title">The son of Odian</h2>
                            <p class="foot-title color-change">Ned quia consequuntur magni dolores eos qui ratione voluptatem sequi nes
                            ed quia consequuntur magni dolores eos qui ratione voluptatem sequi nes</p>
                            <p class="foot-title color-change">Ned quia consequuntur magni dolores eos qui ratione voluptatem sequi nes
                            ed quia consequuntur magni dolores eos qui ratione</p>
                            <p class="m-top-50"><a href="#" class="common-btn">Read More</a></p>
                        </div>
                    </div>
                    <div class="row p-top-70">
                        <div class="col-md-4 col-sm-6 wow zoomIn">
                            <div class="trending-course">
                                <p><img src="assets/img/img_tranding1.jpg" alt="tranding"></p>
                                <h3 class="subTitle color-black">Avengers Movies</h3>
                                <p class="common-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                                <p class="plus" style="color: #ffa000">[+]</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 wow zoomIn">
                            <div class="trending-course">
                                <p><img src="assets/img/img_tranding1.jpg" alt="tranding"></p>
                                <h3 class="subTitle color-black">Avengers Movies</h3>
                                <p class="common-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                                <p class="plus" style="color: #ffa000">[+]</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 wow zoomIn">
                            <div class="trending-course">
                                <p><img src="assets/img/img_tranding1.jpg" alt="tranding"></p>
                                <h3 class="subTitle color-black">Avengers Movies</h3>
                                <p class="common-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni</p>
                                <p class="plus" style="color: #ffa000">[+]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End EAbout Aii-->
            <!-- Start Gallary-->
                <section class="gallary">
                    <div class="container">
                        <div class="row inner-galarry">
                            <div class="col-sm-5 pull-right">
                                <div class="gallary-img">
                                    <img src="assets/img/img_gallary.jpg" alt="ICAO-INDIA">
                                </div>
                            </div>
                            <div class="col-sm-7 gallary-details pull-left">
                                <h2 class="title">Avengers Training <br>Headquarters</h2>
                                <p><a href="#" class="common-btn">View Headquarters</a></p>
                            </div>
                        </div>
                    </div>
                </section>  
            <!-- End Gallary-->
            <!-- Start Education Need-->
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 education-need wow fadeInLeft">
                            <span class="subTitle">Why Avengers</span>
                            <h2 class="title">I think the reason they are <br>called Avengers</h2>
                            <p class="foot-title">Ned quia consequuntur magni dolores eos qui ratione voluptatem sequi nes
                            ed quia consequuntur magni dolores eos qui ratione voluptatem sequi nes</p>
                            <ul class="learn-any">
                                <li class="clearfix"> 
                                    <div class="learn-img">
                                        <p><img src="assets/img/img_learn1.png" alt="Learn Anything"></p>
                                    </div>
                                    <div>
                                        <h3 class="subTitle">Learn Anything</h3>
                                        <p class="common-text">odit aut fugit, sed quia consequuntur magni dolores eos qui rati odit aut fugit, sed quia consequuntur magni dolores eos qui rati</p>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="learn-img">
                                        <p><img src="assets/img/img_learn1.png" alt="Learn Anything"></p>
                                    </div>
                                    <div>
                                        <h3 class="subTitle">Learn Anything</h3>
                                        <p class="common-text">odit aut fugit, sed quia consequuntur magni dolores eos qui rati odit aut fugit, sed quia consequuntur magni dolores eos qui rati</p>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="learn-img">
                                        <p><img src="assets/img/img_learn1.png" alt="Learn Anything"></p>
                                    </div>
                                    <div>
                                        <h3 class="subTitle">Learn Anything</h3>
                                        <p class="common-text">odit aut fugit, sed quia consequuntur magni dolores eos qui rati odit aut fugit, sed quia consequuntur magni dolores eos qui rati</p>
                                    </div>
                                </li>
                            </ul>   
                        </div>
                        <div class="col-md-6 col-sm-12 education-img p-left-50 p-top-50  wow fadeInRight">
                            <ul>
                                <li><img src="assets/img/img_education1.jpg" alt="Education Need"></li>
                                <li><img src="assets/img/img_education1.jpg" alt="Education Need"></li>
                            </ul>
                            <p><img src="assets/img/img_education1.jpg" alt="img_education2"></p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Education Need-->
            <!-- Start Facts-->
            <section class="section important-fact">
                <div class="container">
                    <h2 class="title wow slideInUp">Important Facts</h2>
                    <p class="foot-title  wow slideInUp">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni do lores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam</p>
                    <div class="m-top-70">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 wow zoomIn">
                                <div class="inner-fact">
                                    <p><img src="assets/img/img_awards.png" alt="awards"></p>
                                    <h3 class="title1">250</h3>
                                    <p class="foot-title">AWARDS</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 wow zoomIn">
                                <div class="inner-fact">
                                    <p><img src="assets/img/img_faculty.png" alt="faculty"></p>
                                    <h3 class="title1">150</h3>
                                    <p class="foot-title">Sr. Hero</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 wow zoomIn">
                                <div class="inner-fact">
                                    <p><img src="assets/img/img_student.png" alt="Student"></p>
                                    <h3 class="title1">2150</h3>
                                    <p class="foot-title">Jr. Hero</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 wow zoomIn">
                                <div class="inner-fact">
                                    <p><img src="assets/img/img_courses.png" alt="Courses"></p>
                                    <h3 class="title1">143</h3>
                                    <p class="foot-title">Training</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Facts-->
            <!-- Start Team-->
            <section class="team">
                <h2 class="title1 m-bottom-60 wow slideInUp">Avengers Team</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-3 col-xs-6 wow zoomIn">
                            <div class="team-details">
                                <p><img src="assets/img/img_cap.jpg" alt="Cap"></p>
                                <h3>Captain America</h3>
                                <p>Captain</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 col-xs-6 wow zoomIn">
                            <div class="team-details">
                                <p><img src="assets/img/img_tho.jpg" alt="Thor"></p>
                                <h3>Thor</h3>
                                <p>Sr. Hero</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 col-xs-6 wow zoomIn">
                            <div class="team-details">
                                <p><img src="assets/img/img_iron.jpg" alt="Iron"></p>
                                <h3>Iron Man</h3>
                                <p>Sr. Hero</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 col-xs-6 wow zoomIn">
                            <div class="team-details">
                                <p><img src="assets/img/img_hulk.jpg" alt="hulk"></p>
                                <h3>Hulk</h3>
                                <p>Sr. Hero</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 col-xs-6 wow zoomIn">
                            <div class="team-details">
                                <p><img src="assets/img/img_natasha.jpg" alt="Natasha"></p>
                                <h3>Natasha</h3>
                                <p>Sr. Hero</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 col-xs-6 wow zoomIn">
                            <div class="team-details">
                                <p><img src="assets/img/img_strength.jpg" alt="strength"></p>
                                <h3>Dr. Strength</h3>
                                <p>Sr. Hero</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 col-xs-6 wow zoomIn">
                            <div class="team-details">
                                <p><img src="assets/img/img_spider.jpeg" alt="Spider"></p>
                                <h3>Spider Man</h3>
                                <p>Jr. Hero</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-3 col-xs-6 wow zoomIn">
                            <div class="team-details">
                                <p><img src="assets/img/img_ant.jpg" alt="Ant Man"></p>
                                <h3>Ant Man</h3>
                                <p>Jr. Hero</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Team-->
            <!-- Start Testimonial -->          
            <section class="section">
                <h2 class="title1 text-center m-bottom-60 wow bounce">See What People Say</h2>
                <div class="container testimonial">
                    <div class="inner-testi">
                        <p><img src="assets/img/img_client1.png" alt="client"></p>
                        <p class="subTitle"><span><img src="assets/img/img_quats1.png" alt="quats"></span> Loem ipsum dolor sit amet, consectetuer em ipsum dolor sit amet, consectetuer em ipsum dolor sit amet, consectetuer<span><img src="assets/img/img_quats2.png" alt="quats"></span></p>
                        <h3>Mr.Hedayatullab,</h3>
                        <span>Afghanistan</span>
                    </div>
                </div>
            </section>
            <!-- End Testimonial -->
            <!-- Start Recent news -->
            <section class="section recent-news">
                <h2 class="title1 wow bounce">Recent News</h2>
                <span class="common-text wow bounce">Loem ipsum dolor sit amet, consectetuer</span>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 wow zoomIn">
                            <p><img src="assets/img/img_banner1.png" alt="How to Work Aviation"></p>
                            <div class="inner-news">
                                <h3>How to work Avengers</h3>
                                <ul>
                                    <li><img src="assets/img/icon_calender.png" alt="calender"> 14-25 Feb</li>
                                    <li><img src="assets/img/icon_clock.png" alt="clock"> 10:00 am - 4:00 pm</li>
                                </ul>
                                <p class="news-details">Nemo enim ipsam tas sit aspernatur aut odit aut fus sit aspernatur aut odit aut fus</p>
                                <p class="text-center"><a href="#" class="common-btn">Know More</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 wow zoomIn">
                            <p><img src="assets/img/bg_fact.jpg" alt="How to Work Aviation"></p>
                            <div class="inner-news">
                                <h3>How to work Avengers</h3>
                                <ul>
                                    <li><img src="assets/img/icon_calender.png" alt="calender"> 14-25 Feb</li>
                                    <li><img src="assets/img/icon_clock.png" alt="clock"> 10:00 am - 4:00 pm</li>
                                </ul>
                                <p class="news-details">Nemo enim ipsam tas sit aspernatur aut odit aut fus sit aspernatur aut odit aut fus</p>
                                <p class="text-center"><a href="#" class="common-btn">Know More</a></p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 wow zoomIn">
                            <p><img src="assets/img/img_banner1.png" alt="How to Work Aviation"></p>
                            <div class="inner-news">
                                <h3>How to work Avengers</h3>
                                <ul>
                                    <li><img src="assets/img/icon_calender.png" alt="calender"> 14-25 Feb</li>
                                    <li><img src="assets/img/icon_clock.png" alt="clock"> 10:00 am - 4:00 pm</li>
                                </ul>
                                <p class="news-details">Nemo enim ipsam tas sit aspernatur aut odit aut fus sit aspernatur aut odit aut fus</p>
                                <p class="text-center"><a href="#" class="common-btn">Know More</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- End Recent news -->
        </div><!-- /#contents -->
    </div>